$font-maps: (
  // 'ProximaNovaLight':                    ( family: 'ProximaNova',       file: 'ProximaNova-Light',          weight: 400, style: normal ),
  'ProximaNova':                         ( family: 'ProximaNova',       file: 'ProximaNova-Regular',        weight: 400, style: normal ),
  // 'ProximaNovaBold':                     ( family: 'ProximaNova',       file: 'ProximaNova-Bold',           weight: 700, style: normal ),
  'ProximaNovaExtraBold':                ( family: 'ProximaNova',       file: 'ProximaNova-ExtraBold',      weight: 700, style: normal ),
);

$font-weight-maps: (
  'normal': $font-weight-normal,
  'bold': $font-weight-bold,
);

$font-size-maps: (
  'base': $font-size-base,
  'lg': $font-size-lg,
  'md': $font-size-md,
  'sm': $font-size-sm,
  'xs': $font-size-xs
);
$icon-size-maps: (
  'xl': 48px,
  'lg': 42px,
  'md': 36px,
  'base': 30px,
  'sm': 24px,
  'xs': 18px
);